<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/friend.css" type="text/css">
    <title>Friends</title>
</head>
<body>
    <div class="container">
        <div class="redLine">
                <div class="nameLogin">
                    <div id="firstName" class="firstName"><p>ivanov</p></div>
                    <div id="lastName"><p>ivan</p></div>
                </div>
                    <div id="login" class="login"><p>@lolalol<p></div>
                    <a class="butFriendReq" href="friendList.html">friends</a>
        </div>
        <div class="friends">
            <div id="friend0" class="oneFriend">
                <div class="nameFriend">
                    <div id="firstNameFriend0" class="firstName"><p>rrrrrrrrrrrrrrr</p></div>
                    <div id="lastNameFriend0"><p>rrrrrrrrrrrrrrr</p></div>
                </div>
                <div class="login" id="loginFriend0"><p>@rrrrrrrrrrrrrrr</p></div>
                <div>
                    <a class="submit" href="#submit"><img src="../source/circleRed.png"></a>
                    <a class="delete" href="#delete"><img src="../source/x.png"></a>
                </div>
            </div>
            <div id="friend1" class="oneFriend">
                <div class="nameFriend">
                    <div id="firstNameFriend1" class="firstName"><p>link</p></div>
                    <div id="lastNameFriend1"><p>dima</p></div>
                </div>
                <div class="login" id="loginFriend1"><p>@omgg</p></div>
                <div>
                    <a class="submit" href="#submit"><img src="../source/circleRed.png"></a>
                    <a class="delete" href="#delete"><img src="../source/x.png"></a>
                </div>
            </div>
            <div id="friend2" class="oneFriend">
                    <div class="nameFriend">
                        <div id="firstNameFriend2" class="firstName"><p>mur</p></div>
                        <div id="lastNameFriend2"><p>murmur</p></div>
                    </div>
                    <div class="login" id="loginFriend2"><p>@ggggggg</p></div>
                    <div>
                        <a class="submit" href="#submit"><img src="../source/circleRed.png"></a>
                        <a class="delete" href="#delete"><img src="../source/x.png"></a>
                    </div>
                </div>
        </div>
    </div>

    <header>
        <div class="top">
            <div class="logo">
                <a href="profile.html"><img src="../source/logo.png"></a>
            </div>
        </div>
    </header>
    <div class="bottom"></div>
</body>
</html>