<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script th:src="@{/js/main.js}" defer="defer"></script>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <title>profile</title>
</head>
<body>
<div class="top">
	<div class="logo">
    	<a href="/profile"><img src="../img/logo.png"></a>
    </div>
    <a href="/edit" class="edit"><img src="../img/edit.png" onclick='this.src="../img/editRed.png"'></a>
</div>

<!---Разметка для модального окна---->	
<div id="iw-modal" class="iw-modal">
	<div class="iw-modal-wrapper">
    	<form id="newMessage" class="message">
        	<div class="redLineMes">
            	<div class="nameLoginMessage">
                <div class="to">to</div>
                <div id="firstName" class="firstName" th:text="${user.firstName}">rrrrrrrrrrrrrrr</div>
                <div id="lastName" th:text="${user.lastName}">rrrrrrrrrrrrrrr</div>
            	</div>
                <div id="login" class="login" th:text="@{@} + ${user.login}">@rrrrrrrrrrrrrrr</div>
                <img id="cls" class="delete" src="../img/x.png"> 	
            </div>
            <div>
            	<input type="text" class="subject" placeholder="Subject"> <span id="errorsMessage"></span>    
                <textarea id="textMes" maxlength="300" placeholder="Text"></textarea>
            </div>
            <div class="butSentMes">
            	<a id="butsentMes"  th:text="#{home.title}" href="#sent">sent message</a>
        	</div>
  		</form>
  	</div>	
</div>
<div class="parrent">
    <div class="container">
        <div class="profile">
        	<p id="id" hidden th:text="${user.id}">
                <div class="profilePhoto">
                    <img th:src="@{/avatar/big/} + ${user.login}" height="200" width="200" alt="wow" class="foto">
                    <div class="butMain">
                        <div class="butFriend"><a id="butFriend" th:href="@{/} + ${user.id} + @{/friendlist}">.</a></div>
                        <div id="iw-modal-btn" class="butFriend" style="overflow:hidden;">֍открыть</div>
                        <div class="butFriend"><a id="butFriend" href="/search">.</a></div>
                        <div class="butFriend"><a id="butFriend" href="/search">.</a></div>
                        <!--<div class="butFriend"><a id="butFriend" href="friendList.html">.</a></div>
                        <div class="butFriend"><a id="butFriend" href="friendList.html">.</a></div>-->
                    </div>
                </div>
                <div class="profileInfo">
                    <div class="nameLogin">
                        <div id="name" th:text="${user.firstName} + @{ } + ${user.lastName}">ivanov ivan</div>
                        <div id="login" class="login" th:text="@{@} + ${user.login}">@lolalol</div>
                    </div>
                    <div class="emailDate">
                        <div id="email" th:text="${user.email}">loliva@gmail.com</div>
                        <div id="dateHB" th:text="${#dates.format(user.dateBirthday, 'dd.MM.yyyy')}">12.01.2001</div>
                    </div>
                    <div class="moreInfo">
                        <div style="display:none" id="blockInfo">
                            <div id="city"><div id="information">city: </div><div id="cityInf" th:text="${user.city}">saratov</div></div>
                            <div id="education"><div id="information">education: </div><div id="educationInf" th:text="${user.education}">ssu</div></div>
                            <div id="hobby"><p id="information">hobby: </p><li id="hobbyInf" 
                            												th:each="hob, st : ${hobby}">
                            												<p th:text="${hob.nameHobby} + @{, }">hobby</p></li></div>
                        </div>
                        <label id="openInfo" class="hideInf">more info:</label>
                        <br/>
                        <br/>
                    </div>
                </div>
        </div>

        <div class="news">
            <div class="search">
                <input class="inputForm" id="userFilter" type="text" placeholder="Text" />
				<input class="inputFormBut"type="button" id="test" value="Search">
            </div>
            <ul>
                <li>
                    <form id="newNews"  method="POST" enctype="multipart/form-data" class="createNews" >
                        <div id="redLine">
                            <div id="name" th:text="${user.lastName} + @{ } + ${user.firstName}">ivanov ivan</div>
                            <div id="login" class="login" th:text="@{@} + ${user.login}">@lolalol</div>
                        </div>
                        
                        <div class="fieldNews">
                        	<input type="text" id="idAuthor" name="idAuthor" hidden th:value="${user.id}"></input>
                            <textarea name="newNewsText" id="textNews" maxlength="300"></textarea>
                            <img id="newsCreateImg" src"" alt="" class="newsImg">
                            <div class="buttomsNews">
                                
                                    <div class="radio-container">
                                        <div class="form-item radio-btn nth-2">
                                            <input type="radio" name="radname1" id="radio1" checked value="everyone">
                                            <label for="radio1">for everyone</label>
                                        </div>
                                        <div class="form-item radio-btn nth-2">
                                            <input type="radio" name="radname1"  id="radio2" value="friends">
                                            <label for="radio2">for friends</label>
                                        </div>
                                    </div>
                                <div class="left">
                                	<div class="input_file, addFoto">
                    					<input type="file" name="files" class="hid">
                    				</div>
                                    

                                    <div class="tags">
                                        <div class="redTags">tags:</div>
                                        <div><input id="tagsNewNews" class="notRedTags" type="text" placeholder="#tags"></div>
                                    </div>
                                </div>

                                <div class="right">
                                    <div id="submitNewNews" class="create">
                                        <a id="crt" href="#">create</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                <li style="display:none">
                        <div id="pressetNews" class="newsnews" >
                            <div id="redLine">
                                <div class="nameLog">
                                    <div id="nameAuthor" >ivanov ivan</div>
                                    <div id="loginAuthor" class="login">@lolalol</div>
                                </div>
                                <div class="buttonEditDelete" id="butEditDel">
                                    <a id="butEditDel" href="#edit">edit</a><div>|</div>
                                    <a id="butEditDel" class="deleteNews">delete<img class="newsIcon" src="../img/x.png"></a>
                                </div>
                            </div>

                            <div class="newsContent">
                                <pre>
                           			News
                            	</pre>
                            	<img class="newsImg" alt=" " onerror="this.style.visibility = 'hidden'">
                            </div>

                            <div class="bot">
                                <div class="fieldInfo">
                                    <div class="leftField">
                                        <div id="date">10.01.20</div>
                                        <div id="levelView" >for friends</div>
                                        <div id="tags">#NEWS, #WOW</div>
                                    </div>
                                    <div class="buttomComment">
                                            <a id="butCom" href="#comment">comment<img class="newsIcon" src="../img/circle.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul>
                        	<li style="display:none">
                        		<div id="createNewComments" class="comments">
                                    <div class="topCom">
                                        <textarea class="textAreaComCont"></textarea>
                                    </div>
                                 
                                <div class="botCom">
                                    <div class="nameLogCom">
                                        <div id="login" th:text="@{@} + ${user.login}">@Fail</div>
                                    </div>
                                    <a id="butComCreate" class="butComCreate">create<img class="newsIcon" src="../img/circle.png"></a>
                                </div>
                                </div> 
                        	</li>
                            <li>
                                <div class="comments">
                                    <div class="topCom">
                                        <div class="comCont">
                                        </div>
                                    </div>  
                                    <div class="botCom">
                                        <div id="dateCom">10.01.20</div>
                                        <div class="nameLogCom">
                                            <div id="login" class="login">@Fail</div>
                                        </div>
                                        <!-- <a id="butComCreate" href="#create">create<img src="../source/circle.png"></a> -->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                <ul id="newsList">
                    <li th:each="new1, st: ${news}">
                        <div th:id="${new1.id}" class="newsnews" >
                            <div id="redLine">
                                <div class="nameLog">
                                    <div id="name" th:text="${user.lastName} + @{ } + ${user.firstName}">ivanov ivan</div>
                                    <div id="login" class="login" th:text="@{@} + ${new1.author.login}">@lolalol</div>
                                </div>
                                <div class="buttonEditDelete" id="butEditDel">
                                    <a id="butEdit" class="butEdit">edit</a><div>|</div>
                                    <a id="butDel" class="deleteNews">delete<img class="newsIcon" src="../img/x.png"></a>
                                </div>
                            </div>

                            <div class="newsContent" >
                            	<pre th:text="${new1.text}">
                           			News
                            	</pre>
                                <img th:src="@{/news/image/} + ${new1.imageToken}" class="newsImg" alt=" " onerror="this.style.visibility = 'hidden'">
                            </div>

                            <div class="bot">
                                <div class="fieldInfo">
                                    <div class="leftField">
                                        <div id="date" th:text="${#dates.format(new1.newsDate, 'dd-MM-yyyy')}">10.01.20</div>
                                        <div id="levelView" th:if="${new1.forFriends} == true" >for friends</div>
                                        <div id="tags" ><a th:each="tag : ${new1.tags}" th:text="@{#} + ${tag.name} + @{ }"></div>
                                    </div>
                                    <div class="buttomComment">
                                            <a id="butCom" href="#comment">comment<img class="newsIcon" src="../img/circle.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul>
                        	<li style="display:none">
                        		<div id="createNewComments" class="comments">
                                    <div class="topCom">
                                        <textarea class="textAreaComCont"></textarea>
                                    </div>
                                 
                                	<div class="botCom">
                                    	<div class="nameLogCom">
                                        	<div id="login" th:text="@{@} + ${user.login}">@Fail</div>
                                    	</div>
                                    <a id="butComCreate" class="butComCreate">create<img class="newsIcon" src="../img/circle.png"></a>
                                	</div>
                                </div> 
                        	</li>
                            <li th:each="comment, st: ${new1.comments}">
                                <div th:id="${comment.id}" class="comments">
                                    <div class="topCom">
                                        <div class="comCont" th:text="${comment.text}"></div>
                                    </div>  
                                    <div class="botCom">
                                        <div id="dateCom" th:text="${#dates.format(comment.commentDate, 'dd-MM-yyyy')}">10.01.20</div>
                                        <div class="nameLogCom">
                                            <div id="login" th:text="@{@} + ${comment.commentator.firstName}">@Fail</div>
                                        </div>
                                        <a id="butComCreate" class="saveOldComment" style="display:none">save<img class="newsIcon" src="../img/circle.png"></a>
                                        <a id="butComCreate" class="editOldComment" style="display:block">edit<img class="newsIcon" src="../img/circle.png"></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    </div>
    <div class="bottom"></div>
</body>
</html>