<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">


<body>
	<th:block layout:fragment="content">
		<h1>User registration</h1>
		
		<form action="#" method="post" th:action="@{/user/registration}" th:object="${userForm}">
			<label>Email</label><input type="text" th:field="*{email}">&nbsp;<span th:errors="*{email}"></span><br>
			<label>Password</label><input type="text" th:field="*{password}">&nbsp;<span th:errors="*{password}"></span><br>
			<label>Confirm</label><input type="text" th:field="*{passwordConfirm}">&nbsp;<span th:errors="*{passwordConfirm}"></span><br>
			<br>
			<input type="submit" value="Save">
		</form>

	</th:block>

</body>

</html>