<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Insert title here</title>
<script th:src="@{/js/search.js}" defer="defer"></script>
</head>
<body>
		<input type="radio" name="parametr" value="firstName">First name
		<input type="radio" name="parametr" value="lastName">Last name
		<div style="padding: 0.5em;">
           	<input class="inputForm" id="userFilter" type="text" placeholder="Text" />
			<input type="button" id="butSearch" value="Search">
        </div>
        <div id="userList">
        </div>
</body>
</html>