<li>
                        <div class="newsnews" >
                            <div id="redLine">
                                <div class="nameLog">
                                    <div id="nameAuthor" >ivanov ivan</div>
                                    <div id="loginAuthor">@lolalol</div>
                                </div>
                                <div class="buttonEditDelete" id="butEditDel">
                                    <a id="butEditDel" href="#edit">edit</a><div>|</div>
                                    <a id="butEditDel" class="deleteNews">delete<img class="newsIcon" src="../img/x.png"></a>
                                </div>
                            </div>

                            <div class="newsContent">
                                <pre>
                           			News
                            	</pre>
                            	<img class="newsImg" alt=" " onerror="this.style.visibility = 'hidden'">
                            </div>

                            <div class="bot">
                                <div class="fieldInfo">
                                    <div class="leftField">
                                        <div id="date">10.01.20</div>
                                        <div id="levelView" >for friends</div>
                                        <div id="tags">#NEWS, #WOW</div>
                                    </div>
                                    <div class="buttomComment">
                                            <a id="butCom" href="#comment">comment<img class="newsIcon" src="../img/circle.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul>
                            <li>
                                <div class="comments">
                                    <div class="topCom">
                                        <div class="comCont">
                                        </div>
                                    </div>  
                                    <div class="botCom">
                                        <div id="dateCom">10.01.20</div>
                                        <div class="nameLogCom">
                                            <div id="login">@Fail</div>
                                        </div>
                                        <!-- <a id="butComCreate" href="#create">create<img src="../source/circle.png"></a> -->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>